.todo-element {
  width: 100%;
  background-color: #fff;
}

.todo--content {
  padding: 2rem 3.6rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-grow: 1;

  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.todo--text {
  font-size: 2.5rem;
  width: 100%;

  word-break: break-all;
}

.todo--duedate {
  font-size: 2.3rem;
  font-weight: 300;
}

.todo--completed-text {
  text-decoration: line-through;
}

.todo--buttons {
  display: flex;
}

.todo--button {
  border: none;
  padding: 0.8rem 0rem;
  flex-grow: 1;
  flex-shrink: 0;
  cursor: pointer;

  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.15s;
}

.todo--button:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 5px 1px rgba(0, 0, 0, 0.5);
}

.todo--button:active {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
}

.todo--button__delete {
  margin-right: auto;
  background-color: #e63946;
  border-bottom-left-radius: 9px;
}

.todo--button__mark-completed {
  margin-left: auto;
  background-color: #6ede8a;
  border-bottom-right-radius: 9px;
}

.todo--button__unmark-completed {
  margin-left: auto;
  background-color: #0496ff;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.todo--icon {
  width: 30px;
  height: 30px;
  fill: #333;
}

@media only screen and (max-width: 48em) {
  .todo--icon {
    width: 20px;
    height: 20px;
  }

  .todo--duedate {
    font-size: 2rem;
  }

  .todo--text {
    font-size: 2.2rem;
  }
}
