.App {
  background-image: linear-gradient(#fbdb89, #f48982);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
